.Weather {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.Weather form {
  margin-bottom: 10px;
  margin-right: 10px;
}

.Weather h1 {
  color: navy;
  display: block;
  font-family: emoji;
  font-weight: 100;
  line-height: 60px;
  text-align: center;
}

.Weather ul {
  margin: 0;
  padding: 5;
}

.Weather li {
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style: none;
  color: navy;
}

.Weather .temperature {
  font-size: 60px;
  font-weight: bold;
  font-weight: 500;
  color: navy;
}

.Weather .units {
  height: auto;
  color: navy;
  position: relative;
  top: -30px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Weather canvas {
  margin: 10px auto;
  color: white;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.App-logo {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
